<a href="https://colab.research.google.com/github/AlfredoCarl/Actividad1Python/blob/main/Actividad_1_ElProfessor_Bootcamps_(Python)_Carlos_Alfredo_Mej%C3%ADa_R%C3%ADos_Summer_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = "Alfredo"
edad = 20
print('Hola, mi nombre es', nombre, 'y tengo', edad, 'años.')

Hola, mi nombre es Alfredo y tengo 20 años.

In [ ]:
un_numero = 14
una_cadena = "Hola , mundo"
un_booleano = False
una_lista =[1,4,5,3]
una_tupla =(1,2,3)
un_diccionario ={'nombre':'Juan','edad':14}

print(type(un_numero))
print(type(una_cadena))
print(type(un_booleano))
print(type(una_lista))
print(type(una_tupla))
print(type(un_diccionario))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
nombre_usuario = input("Escribe tu nombre ")
edad_usuario = int(input("coloca tu edad "))
print(f"Hola {nombre_usuario} tienes {edad_usuario} años")

Escribe tu nombre pd
coloca tu edad 34
Hola pd tienes 34 años

In [ ]:
edad = int(input('Por favor, introduce tu edad: '))
if edad<18:
  print("Eres menor de edad")
elif edad>18 & edad<21:
  print("Eres menor de edad en USA")
else:
  print("Eres mayor de edad en todo el mundo")

Por favor, introduce tu edad: 54
Eres menor de edad en USA

In [ ]:
for i in range(0, 100, 7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
numero = int(input('Introduce un número para obtener su tabla de multiplicar: '))
for i in range(1, 10):
  mult=numero*i
  print(f"{numero}x{i}={mult}")

Introduce un número para obtener su tabla de multiplicar: 22
22x1=22
22x2=44
22x3=66
22x4=88
22x5=110
22x6=132
22x7=154
22x8=176
22x9=198

In [ ]:
suma = 0
numero = int(input("ingresa el numero por el que quieres empezar a sumar"))
while suma<100:
  suma+= numero
  print(suma)

ingresa el numero por el que quieres empezar a sumar33
33
66
99
132

In [ ]:

numero_secreto = 7
while numero_secreto!=adivinanza:
  print("intentalo de nuevo")
  adivinanza = int(input('Adivina un número entre 1 y 10: '))

print('¡Correcto! El número secreto era', numero_secreto)

intentalo de nuevo
Adivina un número entre 1 y 10: 6
intentalo de nuevo
Adivina un número entre 1 y 10: 5
intentalo de nuevo
Adivina un número entre 1 y 10: 7
¡Correcto! El número secreto era 7

In [ ]:
import math

numero = 25
raiz_cuadrada = math.sqrt(numero)
print(f'La raíz cuadrada de {numero} es {raiz_cuadrada}')

La raíz cuadrada de 25 es 5.0

In [ ]:
print ("Programa que calcula el factorial")
numero = int(input("Introduzca el número: "))
factorial = 1
i = 1
while (i <= numero):
    factorial = factorial * i
    i = i + 1
print (f"El factorial de {numero} es {factorial} ")

Programa que calcula el factorial
Introduzca el número: 5
El factorial de 5 es 120

In [ ]:
# farenheit= celsius*(9/5)+32
grados_celsius = float(input("Ingrese los grados celsius que quiera convertir a fahrenheit"))
celsius_a_fahrenheit= grados_celsius*(9/5)+32
print(f"{grados_celsius} grados Celsius son {celsius_a_fahrenheit} grados Fahrenheit")

Ingrese los grados celsius que quiera convertir a fahrenheit8
8.0 grados Celsius son 46.4 grados Fahrenheit

In [ ]:
cuadrado = lambda numero : numero*numero
numero = 7
print(f'El cuadrado de {numero} es {cuadrado(numero)}')

El cuadrado de 7 es 49

In [ ]:
mi_lista = []
# Agrega los números 5, 10 y 15 a la lista
mi_lista.append(5)
mi_lista.append(10)
mi_lista.append(15)

mi_lista.remove(10)

mi_lista[1] = 20

print(mi_lista)

[5, 20]

In [ ]:
# El objetivo de este ejercicio es trabajar con cadenas de texto.

mi_cadena = "¡Hola, mundo!"
print(len(mi_cadena))

# Imprime la cadena en mayúsculas
mayus= mi_cadena.upper()
print(mayus)

# Imprime la cadena en minúsculas
minus= mi_cadena.lower()
print(minus)

# Imprime la cadena al revés
reves= ''.join(reversed(mi_cadena))
print(reves)

13
¡HOLA, MUNDO!
¡hola, mundo!
!odnum ,aloH¡

In [ ]:
mi_tupla = (10, 20, 30)
print(mi_tupla[0])
print(mi_tupla[2])
# mi_tupla[0] = 5

10
30

In [ ]:
# Crea un diccionario vacío llamado 'mi_diccionario'
mi_diccionario = {}

# Agrega al diccionario una clave 'nombre' con valor 'Juan'
mi_diccionario['nombre'] = 'Juan'

# Agrega una clave 'edad' con valor 20
mi_diccionario['edad'] = 20

# Imprime el diccionario
print(mi_diccionario)

# Modifica el valor de la clave 'nombre' a 'Carlos'
mi_diccionario['nombre'] = 'Carlos'

# Imprime el diccionario
print(mi_diccionario)

# Elimina la clave 'edad'
del mi_diccionario['edad']

# Imprime el diccionario
print(mi_diccionario)

{'nombre': 'Juan', 'edad': 20}
{'nombre': 'Carlos', 'edad': 20}
{'nombre': 'Carlos'}

In [ ]:
import collections
palabras = ['manzana', 'naranja', 'platano', 'manzana', 'naranja', 'manzana']
#s= ",".join(palabras)
frecuencia = collections.Counter(palabras)
print(frecuencia)

Counter({'manzana': 3, 'naranja': 2, 'platano': 1})

In [ ]:
import keyword
mi_diccionario = {'nombre': 'Juan', 'edad': 20}
def obtener_valor(mi_diccionario[]):
  return mi_diccionario["":""]


print(obtener_valor(mi_diccionario, 'nombre'))  # Debería imprimir 'Juan'
print(obtener_valor(mi_diccionario, 'altura'))  # Debería imprimir 'No encontrado'

SyntaxError: ignored

In [ ]:
class Estudiante():
  def _init_(self,nombre,edad):
    self.nombre = nombre
    self.edad = edad
    pass

  def nombre(self):
    print(f"nombre es {self.nombre} y su edad es {self.edad}")

# Crea una instancia de la clase Estudiante con nombre 'Juan' y edad 20.
juan = Estudiante('Juan', 20)

# Imprime el nombre y la edad de Juan.
print(juan.nombre)  # Debería imprimir 'Juan'
print(juan.edad)  # Debería imprimir 20

TypeError: ignored

In [ ]:
# Ahora, agrega un método a la clase Estudiante.
class Estudiante():
   def _init_(self,nombre,edad):
    self.nombre = nombre
    self.edad = edad
    def celebrar_cumpleaños(self,edad):
      return edad + 1
    # Define un método llamado celebrar_cumpleanos que aumenta la edad del estudiante en 1.


# Crea una instancia de la clase Estudiante con nombre 'Juan' y edad 20.
juan = Estudiante('Juan', 20)

# Llama al método celebrar_cumpleanos.
juan.celebrar_cumpleanos()

# Imprime la edad de Juan.
print(juan.edad)  # Debería imprimir 21

TypeError: ignored

In [ ]:
# Escribe una clase persona
class Persona():
  def _init_(self,nombre):
    self.nombre = nombre

  def saludo(self):
    print(f"{self.nombre} esta saludando")
    # Metodo que salude


# Clase que herede de Persona

class Empleado(Persona):
    def __init__(self, nombre, puesto):
        super().__init__(nombre)
        self.puesto = puesto

    def saludo(self):
        return f"{super().saludo()} y soy un empleado"

class Gerente(Empleado):
    def __init__(self, nombre, puesto, departamento):
        super().__init__(nombre, puesto)
        self.departamento = departamento

    def saludo(self):
        return f"{super().saludo()} y soy gerente del departamento de {self.departamento}"

gerente = Gerente("Carlos", "Gerente", "Ventas")
print(gerente.saludo())  # Debería imprimir "Hola, soy Carlos y soy un empleado y soy gerente del departamento de Ventas"

TypeError: ignored

In [ ]:
class Nadador:
    def nadar(self):
        return "Nado como un pez"

class Corredor:
    def correr(self):
        return "Corro como el viento"

# Pon la clase Triatleta con herencia multiple

# Metodo competir
    def competir(self):
        return f"{self.nadar()} y {self.correr()}"

triatleta = Triatleta()
print(triatleta.competir())  # Debería imprimir "Nado como un pez y Corro como el viento"

In [ ]:
# Haz Polimorfismo
class Animal:
    def sonido(self):
        return "El animal hace un sonido"


class Perro(Animal):
  # Metodo sonido(self)   return "El perro ladra"

class Gato(Animal):
  # Metodo sonido(self)  return "El gato maúlla"

def hacer_sonido(animal):
    return animal.sonido()

perro = Perro()
gato = Gato()

print(hacer_sonido(perro))  # Debería imprimir "El perro ladra"
print(hacer_sonido(gato))  # Debería imprimir "El gato maúlla"

In [ ]:
# SOLO corre la celda
class Coche:
    def __init__(self, marca, modelo, año):
        self.__marca = marca
        self.__modelo = modelo
        self.__año = año

    def get_marca(self):
        return self.__marca

    def get_modelo(self):
        return self.__modelo

    def get_año(self):
        return self.__año

    def set_marca(self, marca):
        self.__marca = marca

    def set_modelo(self, modelo):
        self.__modelo = modelo

    def set_año(self, año):
        if año > 1900 and año <= 2023:
            self.__año = año
        else:
            print("Año no válido")

mi_coche = Coche("Toyota", "Corolla", 2020)
print(mi_coche.get_marca())
mi_coche.set_año(2025)

Toyota
Año no válido

In [ ]:
def and_logico(t1,f1):
  if t1== True & f1==True:
    print(True)
  elif t1==True | f1==False:
    print(False)
  elif t1== False | f1== False:
    print(False)


print(and_logico(True, False))  # Debería imprimir False

None

In [ ]:
def or_logico(t,f):
  if t== True | f==True:
    print(True)

  elif t== False & f== False:
    print(False)

print(or_logico(True, False))

True
None

In [ ]:
tipos_de_postres = 3
variedades_de_sabor = 2
opciones_de_postres = tipos_de_postres * variedades_de_sabor
print(opciones_de_postres)

6

In [ ]:
def factorial(n):
  fact=1
  i = 1
  while (i <= n):
      fact = fact * i
      i = i + 1
  return fact
print(factorial(5))  # Debería imprimir 120

120

In [ ]:
# Usando la función factorial que escribiste en el ejercicio anterior,
# escribe una función que calcule las combinaciones de m elementos tomados de n en n (m elige n).
def combinaciones(m,n):
  factorial = 1
  i = 1
  while (i <= n):
      factorial = factorial * i
      i = i + 1
  return n/m(n-m)
m=5.0
n=2.0
print(combinaciones(5, 2))  # Debería imprimir 10

TypeError: ignored